.profile-image-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.profile-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-image-container:hover .profile-image {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2), 0 15px 15px rgba(0, 0, 0, 0.15);
}

.hover-image {
  opacity: 0;
}

.profile-image-container:hover .hover-image {
  opacity: 1;
}

.base-image {
  position: relative;
}
